body{
    background-color:lightsteelblue;
    opacity:85%;
}
.star{
    text-align:center;
    font-weight:bold;
    font-family: sans-serif;
    font-size:50px;
    color:whitesmoke;

}
body{
    background-image:url(images.jpg);
    background-size: 100px 100px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}

.Air{
    font-size:35px;
    font-family: sans-serif;
    font-weight:bold;
    text-align:center;
    color:whitesmoke;
}
.what{
    font-size:25px;
    font-family:sans-serif;
    color:whitesmoke;
    box-align:center;
    border-style:dashed;
    border-width:07px;
    padding: 15px;
    display:inline;
    border-color:white;
    margin:550px;
    
}
.nap{
    font-family:lucida handwriting;
    color:white;
    font-size:20px;
    font-weight:Bold;
    padding-top:15px;
    
    text-align:center;
    
}
#eye{
    background-image:url(offset_1005093.jpg);
    background-repeat:no-repeat;
    background-color:slategrey;
    height:300px;
    background-size:cover;
    background-position-x:center;
}